.navigation-panel {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    background: transparent;
    box-sizing: border-box;
}

.home-button {
    margin-left: auto; /* Push it to the right */
    width: auto;
    padding-right: 10px;
}

.home-button img {
    width: 42x;
    height: 42px;
    object-fit: contain;
    cursor: pointer;
}

.home-button img:hover {
    transform: scale(1.1); 
    filter: brightness(1.1); 
}

.home-button img:active {
    transform: scale(0.95);
    filter: brightness(0.9); 
}
