.home-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-image: linear-gradient(to top right, #f0f3f5, #e0e0e0);
  margin: 0;
}

.welcome {
  color: darkblue;
  margin-top: 120px;
}

.user-info-text {
  color: darkblue;
  font-size: 24px;
  font-weight: 500;
}

.history {
  color: darkblue;
  margin: 0;
  margin-top: 50px;
}
