.add-user-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.69);
}

.add-user-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 370px;
  border-radius: 24px;
  background-color: white;
  color: darkblue;
  z-index: 1;
}

.add-user-header {
  font-size: 30px;
  font-weight: 900;
  margin: 10px;
  margin-top: 0px;
}

.add-user-label {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.add-user-input {
  font-weight: bold;
  width: 260px;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 2px solid darkblue;
  color: darkblue;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-input {
  -moz-appearance: textfield;
}

.add-button {
  margin-top: 0px;
  margin-bottom: 30px;
}

.user-exist-error {
  position: absolute;
  color: red;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  margin-top: 305px;
}

.invalid-password-error {
  position: absolute;
  color: red;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  margin-top: 73px;
  margin-left: 150px;
}

.invalid-name-error {
  position: absolute;
  color: red;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  margin-top: -245px;
  margin-left: 184px;
}
