.table-div {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 1250px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.table-header-cell {
  font-size: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  color: white;
  background-image: linear-gradient(to top right, #010755, #0b0e6f);
}

.table-cell {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: left;
  color: darkblue;
}

.withdrawal-row {
  background-color: #ffcdd2;
  color: white;
}

.deposit-row {
  background-color: #c8e6c9;
}

.send-money-row {
  background-color: #f8f8ca;
  color: white;
}
